.body{
  -fx-background-image: url("/resources/library_management_login_bg.jpg");
  -fx-background-size: 100% 100%;
}

.jfx-button{
   -fx-background-color:#303F9F;
   -fx-text-fill: white;
}

.jfx-button:hover{
   -fx-background-color: #00E676;
}